.outer-container
  h1.wish - Wishing you -
  .container
    .arrow
    .wheel
      .inner-wheel#wheel
        .section
          span.b-day Happy Birthday!
        .section
          span.vertical.joy O
        .section#love
          span.fa.fa-heart.pulse
        .section
          span.adventure New Adventures
        .section
          span.vertical.fun U
        .section
          span.lots lots of
          span.fa.fa-birthday-cake
      .spin-button
.overlay
  h1 
    | I love
    br
    | you berrrry
    br
    | much
  .cherry-container-1
    .cherry
      .leaf
  .cherry-container-2
    .cherry
      .leaf
  .cherry-container-3
    .cherry
      .leaf
  .cherry-container-4
    .cherry
      .leaf
  .cherry-container-5
    .cherry
      .leaf
  .cherry-container-6
    .cherry
      .leaf
  .cherry-container-7
    .cherry
      .leaf

  .cherry-container-8
    .cherry
      .leaf

  .cherry-container-9
    .cherry
      .leaf


