html, body {
	overflow:hidden;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#13111d;
	cursor:pointer;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.blob {
	z-index:99;
	overflow:visible;
	position:fixed;
	top:50px;
	left:100px;
	width: 100px;

	#FlubOne {
		opacity:0.8;
	}

	#FlubTwo {
		opacity:0.8;
	}

	#FlubThree {
		opacity:0.6;
	}
}

.food {
	position:relative;
}

.sign {
	font-family: 'Roboto';
	font-weight:bold;
	position:absolute;
	left:120px;
	top:100px;
	width:200px;
}

.cookie {
	transform-origin:50% 50%;
	overflow:visible;
	position:absolute;
	width:20px;
}

.click {
	color:#fff;
	font-family: 'Roboto';
	font-size:14pt;
	position:absolute;
	left:50px;
	top:50px;
}