@import "compass/css3";

body {
  padding: 50px;
}

.box {
  max-width: 600px;
  overflow: hidden;
}

h1 {
  position: relative;
  white-space: nowrap;
  -webkit-mask-image:linear-gradient(90deg, black 70%, transparent);
}