body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f5f7f8;
}

.banner {
  position: relative;
  height: 100%;
  max-height:198px;
  width: 100%;
  max-width: 1279px;
  background: none;
  overflow: hidden;
}

.banner .content {
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-elements: center;
}

.banner .content-wrapper {
  margin: auto;
  width: 100%;
  max-width: 706px;
  padding: 30px;
}

.banner .illo {
  z-index: 1;
  position: absolute;
  right: auto;
  left: 0;
  top: 0;
}

.button {
  display: block;
  margin-top: 16px;
}

@media (min-width: 650px) {
  .banner .illo {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1000px) {
  .banner .illo {
    right: 260px;
    left: auto;
  }
  
  .banner .content-wrapper {
    display: flex;
    max-width: 100%;
    align-items: stretch;
    justify-content: space-around;
  }
  
  .banner .content-wrapper .headline {
    flex-grow: 1;
    padding-left: 80px;
  }
  
  .button {
    flex: 0 0 200px;
    text-align: center;
  }
  
}