.container {
  padding-top: 50px;
}

.emoji-picker {
  display: block;
  padding-top: 0px;
  border: 1px solid lightgray;
  padding: 2px;
  margin: 0px;
  background: white;
}

.emoji-picker .emoji-btn {
  display: inline;
  max-width: 30px;
  padding-top: 0px;
}