body{
	background:#ff1191;
}
svg{
	position:absolute;
	top:50%;
	left:50%;
	height:100%;
	width:100%;
	transform:translate(-50%,-50%);
	max-height:700px;
	max-width:700px;
/* 	border:2px solid blue; */
}