<head>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app="">
  <main>
    <div class="well">
      <input type="checkbox" ng-model="wfs"> -webkit-font-smoothing: antialiased<br>
      <input type="checkbox" ng-model="mfs"> -moz-osx-font-smoothing: grayscale<br>
      <input type="checkbox" ng-model="ol"> text-rendering: optimizeLegibility<br>
      <input type="checkbox" ng-model="ts"> text-shadow: 1px 1px 1px rgba(0,0,0,0.01)<br>
      <input type="checkbox" ng-model="wts"> -webkit-text-stroke: 0.5px #000<br>
    </div>
    <br />
    <article ng-class="{wfs: wfs, mfs: mfs, ol: ol, wts: wts, ts: ts}">
      <h1>ty·pog·ra·phy</h1>
      <br />
      <h2>/tīˈpägrəfē/</h2>
      <br />
      <i>noun</i>
      <p>the style and appearance of printed matter.<br/>
      · the art or procedure of arranging type or processing data and printing from it.</p>
    </article>
  </main>
</body>