body {
	background: #015c8b;
	margin: 0;
	display: grid;
	height: 100vh;
	overflow: hidden;
	transition: 2s;
}

div {
	place-self: center;
	font: normal 700 20vw/2 'Roboto', sans-serif;
	text-shadow: 0.5vmin 0.5vmin 0 #000000;
	color: white;
}

span.char {
	animation: expand 2s infinite ease-in-out normal;
	animation-delay: calc(var(--char-index) * .2s);
	user-select: none;
} 

@keyframes expand {
	0% {
		transform: scale(1);
	}
	50% {
		text-shadow: 1vmin 1vmin 0 #000000;
		transform: scale(1.05, 2.5);
	}
	100% {
		transform: scale(1);
	}
}