.eye
  ul
    li.eyelash
    each i in new Array(4)
      li.eyelash.p-anim
    li.eyelash
  .eye__contour
    .eye__ball.p-circle
      .eye__pupil.p-circle
  ul
    each i in new Array(4)
      li.eyelash--bottom