// COLOR VARIABLES
$c-01: #6d6e72; // Gray
$c-02: #e6e6e6; // Light Gray
$c-03: #66dfe2; // Turquoise Max
$c-04: #e47875; // Red
$c-05: #e2a766; // Gold

// SIZE VARIABLES
$width: 300px; // Resize eye by editing only this variable
$height: ($width / 2);
$border: $width / 40;
$border_2x: $border * 2;
$overflow: $width / 14;
$eye_width: $width - ($overflow * 2) + $border_2x - 0.5;
$eye__ball: $height + $border_2x;
$eye__pupil: $eye__ball / 5;
$eyelash: $border * 4;

// MIXINS
@mixin make-shape($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin half-shape($color) {
  border-bottom-left-radius: $width;
  border-bottom-right-radius: $width;
  border: $border solid $color;
  border-top: none;
}

@mixin center-hztl($m-left) {
  margin-left: -($m-left / 2);
  position: absolute;
  left: 50%;
}

@mixin make-rotate ($deg, $t: null, $r: null, $b: null, $l: null) {
  transform: rotate($deg);
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

// LAYOUT
* {
  box-sizing: border-box;
}

body {
  background-color: $c-02;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

// PATTERNS
.p-circle {
  border-radius: 50%;
}

.p-anim {
  animation: color-eyelashes 1s 2s forwards;
}

// ILLUSTRATION
.eye {
  @include make-shape($width - $border_2x, $height * 3);
  margin: 8% auto;
  position: relative;
  
  &lash {
    @include make-shape($eyelash);
    background-color: $c-01;
    border-radius: 0 ($eyelash * 1.5) ($eyelash * 1.5);
    position: absolute;
    z-index: 90;

    &:first-child {
      @include make-rotate(-45deg, 31%, null, null, -6%);
    }

    &:nth-child(2) {
      @include make-rotate(-10deg, 11%, null, null, 0);
    }

    &:nth-child(3) {
      @include make-rotate(20deg, 0, null, null, 27.5%);
    }

    &:nth-child(4) {
      @include make-rotate(60deg, 0, 27.5%, null, null);
    }

    &:nth-child(5) {
      @include make-rotate(100deg, 11%, 0, null, null);
    }

    &:last-child {
      @include make-rotate(135deg, 31%, -6%, null, null);
    }
    
    &--bottom {
      @include make-shape($border, $height * 1.2);
      animation: color-bottom 1s 3s forwards, dance-bottom 1s 4s alternate 6;
      background-color: $c-01;
      position: absolute;
      // Firefox Fix: Jagged Edges
      transform-style: preserve-3d;
      outline: 1px solid transparent;
      
      &:first-child {
        @include make-rotate(20deg, null, null, 6%, 2%);
      }
      
      &:nth-child(2) {
        @include make-rotate(5deg, null, null, -2%, 33%);
      }
      
      &:nth-child(3) {
        @include make-rotate(-5deg, null, 33%, -2%, null);
      }
      
      &:last-child {
        @include make-rotate(-20deg, null, 2%, 6%, null);
      }
    }
  }
    
  &__contour {
    @include make-shape($eye_width, $height + $border_2x);
    @include center-hztl($eye_width);
    overflow: hidden;
    top: 16%;
    
    &:before,
    &:after {
      @include make-shape($width, $height);
      @include half-shape($c-01);
      content: '';
      display: block;
      margin-left: -$overflow;
    }
    
    &:before {
      transform: rotateX(180deg);   
    }
    
    &:after {
      transform: translateY(-$height);      
    }
  }
  
  &__ball {
    @include make-shape($eye__ball);
    @include center-hztl($eye__ball);
    animation: color-eyeball 2s 1s forwards;
    border: $border solid $c-01;
    top: 0;
  }
  
  &__pupil {
    @include make-shape($eye__pupil, $eye__pupil * 2);
    @include center-hztl($eye__pupil);
    background-color: $c-01;
    margin-top: -(($eye__pupil * 2) / 2);
    top: 50%;
  }
}

@keyframes color-eyeball {
  100% {
    background-color: $c-03;
  }
}

@keyframes color-eyelashes {
  100% {
    background-color: $c-04;
  }
}

@keyframes color-bottom {
  100% {
    background-color: $c-05;
  }
}

@keyframes dance-bottom {
  100% {
    bottom: 0;
  }
}