<div id="gradient-map">
  <div class="input-holder">
    <div class="close-handler" @click="closeBoxes" @mousemove="doDrag"></div>

    <div class="picker" v-bind:id="'picker-'+col.key" v-for="col in colors">
      <button class="picker-button" @click="toggle(col.key)" v-bind:style="{background: colors[col.key].colorInfo.hex,  opacity:colors[col.key].colorInfo.rgba.a}" @mousedown="setDrag(col.key)" @mouseup="removeDrag(col.key)"></button>
      <chrome-picker v-if="colors[col.key].isOpen" v-model="colors[col.key].colorInfo"></chrome-picker>
    </div>
  </div>
  <div class="display-gradient" v-show="hasUsed">
    <p>Click or drag the toggles to adjust the gradient :)</p>
  </div>

  <div class="get-code" v-show="showCode" @click="copyToClip">
    <textarea type="text" v-model="gradText" spellcheck="false" id="gradCode"></textarea>
    <span class="copyMessage" v-show="showCopied">Copied to Clipboard!</span>
  </div>

  <a class="code-toggle" @click="toggleCode"><i class="fas fa-code"></i><br>{{togMessage}}</a>

</div>