
header{
  display:block;
  
  margin:0;
  padding:0;
  
  position:-webkit-sticky;
  position:   -moz-sticky;
  position:        sticky;
  top:0;
  
  background:blue;
}

h2{
  margin:0;
  padding:.25em .5em;
  color:white;
}

.spacer{
  height:300px;
}

body{
  font-family:sans-serif;