<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="blog">
  <h1 v-bind:class="{red: true}">Add New Post</h1>
  <form>
    <label>Title:</label>
    <input type="text" placeholder="Name Your Post" v-model="editTitle">
    <label>Content:</label>
    <textarea placeholder="Write Your Post" v-model="editContent"></textarea>
    <button class="preview" v-on:click.prevent="previewPost">Preview</button>
  </form>
  
  <h1 class="preview-header"></h1>
  <div class="preview-section">
    <h3 class="title preview-data">{{title}}</h3>
    <div class="date"></div>
    <p class="paragraph preview-data" style="white-space: pre-line;">{{content}}</p>
    
    <!--<button class="preview" v-if="">Delete</button>-->
  </div>
</div>

