body {
  background-color: #015c8b; 
  background: #015c8b;
}

.shape {
  background-color: #015c8b;
  background: #015c8b;
}


#shape1 {
  background-color: #015c8b;  background: #015c8b;
  position: fixed;
  top: 0;
  left: 0;
  height: 200%;
  width: 200px;
  transform: rotate(-50deg);
  z-index: -100;
  border: 50px solid #186388;/*-color*/
}

#shape2 {
  background-color: #015c8b;  background: #015c8b;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 200%;
  width: 300px;
  transform: rotate(-50deg);
  z-index: -50;
  border: 50px solid #19678f;/*-color*/
}