body{
	background:#ff1191;
}
svg{
	position:absolute;
	top:40%;
	left:50%;
	height:100%;
	width:100%;
	transform:translate(-50%,-50%);
	max-height:650x;
	max-width:650px;
/* 	border:2px solid blue; */
}