* {
	box-sizing: border-box;
}

$charcoal: grey;
$green: #21FA90;
$snow: #FFFAFB;

body {
	background-color: $snow;
}

section {
	width: 500px;
	margin: auto;
	padding: 20px;
	border: 1px solid $charcoal;
	border-radius: 4px;
	margin-top: 8%;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	.actions {
		margin: 10px 0;
		width: 100%;
		display: flex;

		button {
			background: transparent;
			margin-bottom: 5px;
			border: 1px solid $charcoal;
			border-radius: 5px;
			font-size: 28px;
			padding-bottom: 4px;
			width: 18%;
			cursor: pointer;
			&:hover {
				background: $green;
				border: 1px solid $green;
			}
		}
	}
	textarea, input {
		color: $charcoal;
		width: 100%;
		padding: 8px;
		border: 1px solid $charcoal;
		border-radius: 4px;
		font-size: 18px;
	}
}
