body {
	background-color: #dc5;
	padding: 20px;
	overflow: hidden;
}

.eyeball {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 0;
	left: 100px;
	transform: translate(-50%, 0px);
	border-radius: 50%;
	display: inline-block;
	margin: 4px;
	transition: left 0.3s ease-in-out;
	box-shadow: 0 2px 40px rgba(black, 0.3);

	// white
	background: #fff
		radial-gradient(
			ellipse at center,
			rgba(0, 0, 0, 0) 48%,
			rgba(0, 0, 0, 0.5) 100%
		);

	&::before,
	&::after {
		position: absolute;
		content: "";
		border-radius: 50%;
		transition: transform 0.3s ease-in-out;
	}

	&::before {
		// iris
		width: 66%;
		height: 66%;
		background-color: #ddd;
		background-image: radial-gradient(
			ellipse,
			rgba(0, 0, 0, 0) 48%,
			rgba(0, 0, 0, 0.5) 100%
		);
		top: 17%;
		left: 17%;
	}
	&::after {
		// pupil
		width: 24%;
		height: 24%;
		background: #000;
		background: radial-gradient(
			circle at 70% 30%,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 1) 16%,
			rgba(0, 0, 0, 1) 19%
		);
		top: 38%;
		left: 38%;
	}

	&.yellow:before {
		background-color: #fe7;
	}
	&.blue:before {
		background-color: #5ae;
	}
	&.green:before {
		background-color: #ae5;
	}

	&.down {
		&::before {
			transform: translate(0, 10%);
		}
		&::after {
			transform: translate(0, 60%);
		}
	}

	&.up-right {
		&::before {
			transform: translate(10%, -10%);
		}
		&::after {
			transform: translate(60%, -60%);
		}
	}

	&.right {
		&::before {
			transform: translate(15%, 0%);
		}
		&::after {
			transform: translate(80%, 0%);
		}
	}

	&.left {
		&::before {
			transform: translate(-15%, 0%);
		}
		&::after {
			transform: translate(-80%, 0%);
		}
	}
}
