html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: none;
}

.wrapper {
  width: 200px;
  margin: 20px auto;
}

#input {
  width: 200px;
  height: 30px;
  border: 2px solid #909090;
  border-radius: 5px;
}

.box {
  color: #404040;
  font-size: 17px;
  margin-top: 20px;
}

.box li {
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
}