.rotatingText { 
  align-items: center;
  display: flex;
  height: 100vh;
  text-align: center;
}

.rotatingText-content { 
  position: relative;
  width: 100%;
    font-family: 'Georgia', serif;
  font-style: italic;
  margin: 0; 
}



.rotatingText-adjective { 
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  left: 0;
  margin-bottom: 0;
  /*margin-top: 30px;*/
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  
  @media (min-width: 768px) { 
    font-size: 70px;
  }
  
  &:nth-of-type(1) { 
    animation: rotate-text-up 1.5s .75s; 
  }
  
  &:nth-of-type(2) { 
    animation: rotate-text-up 1.5s 2s; 
  }  
  
  &:nth-of-type(3) { 
    animation: rotate-text-up 1.5s 3.25s; 
  }   
  
  &:nth-of-type(4) { 
    animation: rotate-text-up 1.5s 4.5s; 
  }    
  
  &:nth-of-type(5) { 
    animation: rotate-text-up 1.5s 5.75s; 
  }  
  
  &:nth-of-type(6) { 
    animation: rotate-text-up 1.5s 6.95s; 
  }    
  
  &:nth-of-type(7) { 
    animation: fade-text-in 1.5s 8.2s forwards;
  }
}

// Animations
@keyframes rotate-text-up { 
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fade-text-in { 
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
  
  50%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


//
// Demo Styles
// -----------

.twitter { 
  bottom: 0;
  position: fixed;
  right: 0;
  width: 50px;
}