body
  .btn-bg.Pokemon
    .btn-info Pokémon
    .btn-mention
      span get Up, get Out, and Explore!
    .btn-group
      .btn.ball
        button
          .pokemon-ball
          a Pokémon   
            span(data-letters="Go!")
            span(data-letters="Go!")
  .btn-bg.Ocean
    .btn-info Ocean
    .btn-mention
      | too much 
      span Debris
      |, too few 
      span Coral
    .btn-group
      .btn.Debris
        button(href="#")
          | debris
          span.one
      .btn.Coral
        button(href="#")
          | coral
          span.Coralwave1
          span.Coralwave2
          span.Coralwave3
  .btn-bg.Minecraft
    .btn-info Minecraft
    .btn-mention
      span Boom 
      span Boom 
      span Boom 
    .btn-group
      .btn.character
        button(href="#") i am creeper
          .creeper
            .eye
            .mouth
              .center
  .btn-bg.Pixar
    .btn-info Pixar
    .btn-mention
      span Emotions 
      | never 
      span Lie 
      | to you
    .btn-group
      .btn.Inside
        button(href="#")
          .box1
          .box2
          | inside
      .btn.Out
        button(href="#")
          .box1
          .box2
          | out
  .btn-bg.link
    .btn-info click!
    .btn-mention
      span more about me!
    .btn-group
      .btn.blog
        a(href="https://lichin.me/css/2016/07/28/hover-button-animation3" target="_blank")
          button visit blog!
            .like
              .hand
              .Finger
      .btn.codepen
        a(href="https://codepen.io/lichin-lin/" target="_blank")
          button my codepen
            .skeleton
              .face
              .eye
              .mouth

