body {
  background: #015c8b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: auto;
  margin: -24px;
}

.icon-preloader {
  position: relative;
  transform: rotate(-180deg);
  width: 2px;
  height: 2px;
  overflow: hidden;
  -webkit-animation: preloader 2.5s ease infinite;
          animation: preloader 2.5s ease infinite;
}
.icon-preloader:before, .icon-preloader:after {
  content: " ";
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  border: 1px solid #f27a23;
}
.icon-preloader:after {
  left: auto;
  right: 0;
}

@-webkit-keyframes preloader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    height: 2px;
  }
  25% {
    height: 64px;
    transform: rotate(-180deg);
  }
  40% {
    transform: rotate(0deg);
    width: 2px;
  }
  60% {
    width: 64px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 64px;
    width: 64px;
    transform: rotate(0deg);
  }
}

@keyframes preloader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    height: 2px;
  }
  25% {
    height: 64px;
    transform: rotate(-180deg);
  }
  40% {
    transform: rotate(0deg);
    width: 2px;
  }
  60% {
    width: 64px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 64px;
    width: 64px;
    transform: rotate(0deg);
  }
}