body {
	background-color: #121212;
	color: #fff;
	font-family: sans-serif;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.icon-card {
	background-color: #2A2A2A;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	
	.icon-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-bottom: 8px;
		flex: 1 0 auto;
		
		&-top {
			background-color: #404040;
			border-radius: 8px 8px 0 0;
			padding: 6px 16px;
			
			button {
				float: right;
				padding: 0;
				margin: 0;
				border: 0;
				background: none;
				display: flex;
				align-items: center;
				color: #D0D0D0;
				cursor: pointer;
				
				.icon {
					height: 1.5rem;
					width: auto;
					margin-right: 4px;
				}
			}
		}
		
		&-body {
			background-color: #000;
			border-radius: 0 0 8px 8px;
			padding: 1rem;
			flex: 1 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	
	.icon-tags {
		display: flex;
		gap: 4px;
		margin: 0 0 16px 0;
		padding: 0;
		
		li {
			background-color: #0B7A5F;
			display: block;
			border-radius: 999px;
			color: #fff;
			padding: 4px 12px;
		}
	}
	
	.tag {
		font-weight: bold;
		color: #41EA7A;
	}
	
	p {
		padding: 0;
		margin: 0;
		color: #D0D0D0;
		line-height: 20px;
		
		span.emph{
			color: #fff;
			font-size: 0.9em;
			font-weight: bolder;
		}
	}
	
	& > *:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
}