body {
  font-size: 16px;
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
}
ul {
  padding-left: 22px;
}
li {
  margin: 5px 0;
}
input {
  margin-right: 10px;
  width: 30px;
}
button { 
  cursor: pointer;
  font-size: 1em;
  padding: 5px 8px;
}
td {
  border: 1px solid #b6b5b5;
  width: 100px;
  height: 30px;
  padding: 3px 5px;
}
summary {
  border: 1px solid black;
  padding: 2px 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
h4 {
  margin: 0;
}

.survey, .results {
  padding-bottom: 20vh;
}
.instructions {
  list-style: none;
  padding-left: 0;
}
.flex-container {
  display: flex;
  align-items: flex-start;
}
.descriptions {
  display: flex;
  flex-direction: column-reverse;
}
.description {
  border-top: 1px solid #969696;
}
details h4,
details p {
  margin-bottom: 0;
}
details ul,
.description ul {
  margin-top: 0;
}
.score {
  font-size: 0.7em;
  color: gray;
  margin-left: 10px;
}
.results {
  display: none;
}
