.plus {
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 100px;
  background: #ffe581;
  border-radius: 50%;
  display: flex;
  position: relative;
}
.plus__line {
  width: 6px;
  height: 50px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 25px);
}
.plus__line--h {
  transform: rotate(90deg);
}
.plus__line--v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}
.plus__link {
  color: #fff;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease 0s;
  transform: scale(0.5);
}
.plus--active {
  height: 32px;
  border-radius: 30px;
}
.plus--active .plus__line--v {
  height: 68px;
  top: calc(-100% - 60px);
  padding: 0 5px;
  box-sizing: border-box;
  width: 220px;
  border-radius: 60px;
  left: calc(50% - 110px);
}
.plus--active .plus__link {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0.05s;
}
