/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
/* Button styles end */






/* Ignore these presentational styles */
html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    background: #f3f3f3;
    font-family: -apple-system, BlinkMacSystemFont, 
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
                    "Fira Sans", "Droid Sans", "Helvetica Neue", 
                    sans-serif;
    line-height: 1.5;
    color: #333;
}

article {
    max-width: 60%;
    padding: 2rem 1rem;
}

> * + *:not(pre) {
    margin: 1rem 0 0 0;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    padding-top: 0.5rem;
}

a {
    color: #017171;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

pre {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

code {
    padding: 2px 4px;
    background: #222f3e;
    color: #f3f3f3;
}

pre code {
    display: block;
    position: relative;
    overflow-x: auto;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
    padding: 2rem;
    -webkit-overflow-scrolling: touch;
}

[role="status"] {
    font-size: 0.8rem;
    font-style: italic;
    padding: 0.5rem 0 0 0;
}

[role="status"]:empty {
    display: none;
}

[aria-hidden="true"] {
    font-style: normal;
}