
.elh2 {
  font-weight: 400;
  margin: 2rem 0 0.25rem 0;
}

.margin-0 {
  margin-top: 0;}


.figureBox {
  
  aspect-ratio: 1 / 1.2;
  --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
  --accent: hsl(280 80% 40%);
  transition: background 0.2s;
  background:
    radial-gradient(circle at top left, var(--accent), transparent 75%),
    var(--bg);
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

.figureBox:after {
  content: "";
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
  filter: blur(25px);
  transform:
    translateX(calc(var(--hover) * 15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s, background 0.2s;
}

.imgFigureBox {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 20%;
  transform:
    translateX(calc(var(--hover) * -30%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

.articlehover {
  --hover: 0;
}

.articlehover:hover {
  --hover: 1;
}