@use 'sass:math';

$diam: 16em;
$r: .5*$diam;
$sh: 0 -1px 2px #e9edea, 
		0 1px 2px #0a0b0d, 
		0 0 0 3px #656765, 
		inset 0 -1px 2px #e9edea, 
		inset 0 1px 2px #0a0b0d, 
		inset 0 0 0 3px #656765;
$c: #212224;
$r-net: 4px;
$sx: ceil(2*$r-net*math.sqrt(3));
$sy: 2*$r-net;
$px: .5*$sx;
$net: radial-gradient(circle, 
	rgba($c, 0) $r-net - 1px, 
	rgba($c, .5) $r-net, 
	rgba($c, 0) $r-net + 1px);
$bg: 
	$net 50% 50% / #{$sx} #{$sy} padding-box, 
	$net calc(50% + #{$px}) calc(50% + #{$r-net}) 
	  / #{$sx} #{$sy} padding-box, 
	radial-gradient(circle, $c .2*$r, rgba($c, 0)) 
	  50% 50% / 100vw 100vh padding-box;
$bw: 1.25em;
$turn-off: url(https://luisangelmaciel.github.io/Igglybuff/svg/refresh.svg) no-repeat 50% / 50%;

body {
	display: flex;
	justify-content: center;
	margin: 0;
	height: 100vh;
	background: $bg #000;	
}

button {
	align-self: center;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	border: solid $bw transparent;
	width: $diam; height: $diam;
	border-radius: 50%;
	box-shadow: $sh;
	background: $bg, 
		conic-gradient(#e1e2e4, #f2f4f3, #86878b, 
			  #f5f9f3, #5b5d5d, #d9dadc, #b7b8bc, 
			  #f0f0f2, #5a595e, #fbfbfb, #838488, 
			  #fcfefd, #e1e2e4) border-box #000;
	font-size: 1em;
	text-indent: -100vw;
	
	&:after {
		$diam-in: $diam - 4.25*$bw;
		
		box-sizing: border-box;
		position: absolute;
		top: 50%; left: 50%;
		border: solid .8*$bw transparent;
		margin: -.5*$diam-in;
		width: $diam-in; height: $diam-in;
		border-radius: 50%;
		box-shadow: $sh;
		background: 
			$turn-off, 
			conic-gradient(#e1e2e4, #f2f4f3, #86878b, 
			  #f5f9f3, #5b5d5d, #d9dadc, #b7b8bc, 
			  #f0f0f2, #5a595e, #fbfbfb, #838488, 
			  #fcfefd, #e1e2e4) border-box;
		content: '';
	}
}