
header{
  display:block;  
  margin:0;
  padding:0;  
  position:-webkit-sticky;
  position:   -moz-sticky;
  position:        sticky;
  top:0;  
  background:blue;
  z-index:9999;
}

h2{
  margin:0;
  padding:.25em .5em;
  color:white;
}

.spacer{
  height:auto;
  z-index:9999;
}

.reveal{
  z-index:1;
  position:relative;    
  background-position:50%;
  background-attachment:fixed;
  background-repeat:no-repeat;
  max-width: 100%;  
  /* height of viewport*/
  height:500px;  
}



/* fallback */
.reveal img{
  max-width:100%; z-index;1;
}




/* Boring*/

body{ 
  margin:0; 
  padding:0;   
  font-family:"Helvetica Neue", sans-serif;
} 

.wrapper{
  margin:0 auto;
  padding:1em;
  max-width:900px;  
}