body {
  background: #EC4A45;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 10px solid black;
  padding: 0;
  margin: 0;overflow:hidden;
  position: relative;
}

.eye {
  background: white;
  width: 322px;
  height: 322px;
  transform: rotate(-45deg);
  animation: 4s ease-in 1s 2 alternate rotateEye;
  position: relative;
  border: 2px solid #EC4A45;
  border-radius: 240px 1px;
  overflow: hidden;
}

.eye::after {
  content: '';
  display: block;
  background-color: #EE5F5C;
  border: 3px solid #EC4A45;
  width: 323px;
  height: 323px;
  left: -67%;
  top: -52%;
  position: absolute;
  animation: 1s ease-out 4s 2 alternate eyeBlink;
  border-radius: 240px 1px;
}

.iris {
  width: 156px;
  height: 156px;
  background: black;
  border: 50px solid #1DAEEC;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 10%;
  color: white;
}

.iris > p {
  transform: rotate(45deg);
  transition: 0.25s;
  position: absolute;
  left: 5%;
  top: -17%;
  font-size: 70px;
  font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
  font-weight: 400;
  animation: 4s linear 1s 2 alternate disappearText;
}

.eye > p {
  text-transform: uppercase;
  transform: rotate(45deg);
  position: absolute;
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  letter-spacing: 1px;
  animation: 5s linear 0s 2 alternate disappearText;
}

.eye > p:nth-child(1) {
  right: 2%;
  top: 6%;
}

.eye > p:nth-child(3) {
  bottom: 6%;
  left: 2%;
}

@keyframes eyeBlink {
  100% {
    top: -1px;
    left: -1px;
  }
}

@keyframes rotateEye {
  30% { transform: rotate(45deg); }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes disappearText {
  30% { opacity: 0;}
  100% {
    opacity: 0;
  }
}