// Array.from(document.querySelectorAll('h3 a')).map(i => i.textContent.trim()).join(',')
- const projects = "wearehive / project-guidelines,facebookresearch / Detectron,binhnguyennus / awesome-scalability,IBM / css-gridish,Hacker0x01 / hacker101,kamranahmedse / developer-roadmap,kdn251 / interviews,bfirsh / jsnes,byoungd / English-level-up-tips-for-Chinese,the-road-to-learn-react / the-road-to-learn-react-chinese,bradleyjkemp / memviz,satwikkansal / wtfpython,tensorflow / tensorflow,rmusser01 / Infosec_Reference,vuejs / vue,PersistX / PersistDB,relativty / Relativ,shuzheng / zheng,GoogleChrome / puppeteer,google / promises,facebook / react,parcel-bundler / parcel,facebook / zstd,DiegoVicen / som-tsp".split(',')

main
	header
		h1 Explore projects
		p 
			| Project names taken from 
			a(href='https://github.com/trending') https://github.com/trending
	ol
		for project in projects
			li
				a(href='/')
					h3= project
					p Updated 3 days ago