h1.title Morse Code Generator
p.subtitle Convert regular old english to super awesome morse code.
.top-wrapper
  textarea.input(placeholder='Type something here')
  button.run Run
  button.clear Clear
pre.output