:root{
  --toggle-size:2rem;
  --background-color:#1d1f21;
  --accent:#de935f;
  --text-color:#c5c8c6;
  --focus:#81a2be;
}

*{
  transition: background 500ms ease, color 500ms ease, left 250ms ease;
}

body {
  display:flex;
  justify-content:center;
  padding-top:5rem;
  
  font-size:20px;
  font-family: 'Roboto Mono', monospace;;
  
  background:var(--background-color);
  color:var(--text-color);
}

input, .toggle, .toggle:before{
  width:var(--toggle-size);
  height:var(--toggle-size);
}

input{
  opacity:0;
  cursor:pointer;
}

.toggleplacer{
  position:absolute;
  top:3rem;
  right:3rem;
  
  width:calc(var(--toggle-size)*2);
  height:calc(var(--toggle-size)*2);
  border-radius:10rem;
}

.toggleplacer:hover{
  background: hsla(0,0%,50%,.2)
}

.toggle{
  background:var(--text-color);
  position:relative;
}
.toggle:before, .toggle:after{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
}

.toggle::before{
  background:var(--text-color);
  transform: rotate(45deg)
}

.toggle::after{
  background:var(--background-color);
  border-radius:10rem;
  transform:translate(10%,10%);
  
  width:calc(var(--toggle-size)/1.2);
  height:calc(var(--toggle-size)/1.2);
  pointer-events:none;
}

.sun{
  position:absolute;
  left:19%;
  width:calc(var(--toggle-size)/1.6);
  height:calc(var(--toggle-size)/1.6);
  
  transform: "";
  border-radius:10rem;
  z-index:2;
  background:var(--text-color);
  pointer-events:none;
}
/*  */

/* Setup example */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container{
  flex-direction:column;
  width:25rem;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
}

.sampletext{
  margin-top:2rem;
  text-align:center;
}

.accent{
  color:var(--accent)
}

.focus{
  color:var(--focus)
}

.darkmode {color:#1d1f21}
.darkmode {color:#de935f}
.darkmode {color:#c5c8c6}
.darkmode {color:#81a2be}
.lightmode {color:#070225}
.lightmode {color:#a67c53}
.lightmode {color:#4c4742}
.lightmode {color:#5986b2}