- var text = "Drink more water!";
- var sides = 10;

.bottle
	.bottle__sides
		- sides = Math.ceil(sides/2) + 1;
		- while (sides--) {
			.bottle__side
				- for (var t = 0; t < text.length; ++t) {
					span=text[t]
				- }
		- }