$font-family--primary : 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$gray: #c7c7c7;
$border-gray: #D0CCDA;
$light-gray: #E2E2E2;
$lightest-gray: #f2f2f9;

//BEM(Block Element Modifier) Naming Convention
// For Element
// $element  - Just the element name for the parent block (doesn't require the parent Block name)
@mixin e($element){
  &__#{$element}{
    @content;
  }
}

// For Modifier
// $modifier  - Just the modifier name for the parent block or element
@mixin m($modifier){
  &--#{$modifier}{
    @content;
  }
}

// ==========================================================================
// Base
// A Base rule is applied to HTML element using an element selector, a
// descendent selector, or a child selector, along with any pseudo-classes.
// We cannot reference any element defined here by their respective class or ID name.
// This defines the default styling for how that element should look.
// Changes in style other than default should be overwritten using other partials.
// ==========================================================================

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base Code
html, body {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family--primary;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}

p {
  font-size: 14px;
  font-style: italic;
  margin-top: 75px;
}

.main-container-wrapper {
  padding: 15px;
}

.table {
  width: 800px;
  height: 300px;
  display: flex;
  margin: 15px auto;
  border-radius: 4px;
  flex-direction: column;
  border: 1px solid $border-gray;
  -moz-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);

  @include e(header) {
    height: 45px;
    display: flex;
    flex: auto 0 0;
    background-color: $lightest-gray;
    border-bottom: 2px solid $border-gray;
  }

  @include e(body) {
    display: flex;
    overflow: hidden;
    flex: auto;
  }

  @include e(col-group) {
    overflow: hidden;

    @include m(sticky) {
      width: 120px;
      background-color: $light-gray;
      border-right: 2px solid $border-gray;
    }

    @include m(scrollable) {
      width: calc(100% - 120px);
      position: relative;
    }
  }
  
  @include e(scrollable-header-container) { 
      &::before {
        content: '';
        width: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: auto;
        background-color: $lightest-gray;
        z-index: 10;
      }
  }

  @include e(header-section) {
    @include m(right) {
      width: 100%;
      position: relative;
      overflow-x: scroll;
    }
  }

  @include e(header-items) {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    height: 45px;
    overflow-y: scroll;

    span {
      font-size: 16px;
    }
  }

  @include e(body-section) {
    @include m(left) {
      display: inline-block;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 20px;
    }

    @include m(right) {
      overflow: scroll;
      position: relative;
    }
  }

  @include e(list) {
    li {
      font-size: 0;
      border-bottom: 1px solid $gray;
    }

    @include m(left) {
      width: 140px;
    }

    @include m(right) {
      display: inline-block;
      min-width: 100%;
      min-height: calc(100% - 3px);

      li {
        font-size: 0;
        white-space: nowrap;
      }
    }
  }

  @include e(cell) {
    width: 120px;
    height: 45px;
    line-height: 1;
    font-size: 14px;
    overflow: hidden;
    padding: 15px 20px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
  }
}

