:root {
	--size: 6; /*change size*/
}

body,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	display: grid;
	background: rgb(255, 255, 255);
	background: #000;
}

.shake {
	font-size: calc(var(--size) * 1vw);
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	filter: brightness(1.15);
	span {
		animation: stop 0.1s ease-in-out 0s 10 alternate;
		opacity: 0.35;
		transition: opacity 1.5s ease 0.5s;
		&:hover {
			animation: shaking 0.1s ease-in-out 0s infinite alternate;
			opacity: 1;
			transition: opacity 0s ease;
			&:before,
			&:after {
				animation: shaking 0.1s ease-in-out 0s infinite alternate;
				content: "🥤";
				position: absolute;
				animation-delay: 0.25s;
				opacity: 0.25;
				top: -0.5vh;
				left: -0.25vw;
				transform: rotate(5deg);
			}
			&:after {
				top: 0.5vh;
				left: 0.25vw;
				transform: rotate(-5deg);
			}
		}
		@for $i from 1 through 200 {
			&:nth-child(#{$i}) {
				filter: hue-rotate($i * 155deg);
			}
		}
	}
}

@keyframes shaking {
	  0% { transform: rotate(0deg); }
	 33% {	transform: rotate(5deg); }
	 66% {	transform: rotate(-5deg);	}
	100% { transform: translateY(1vmin) rotate(0deg);	}
}

@keyframes stop {
	  0% { transform: rotate(0deg);	}
	 33% {	transform: rotate(5deg); }
	 66% {	transform: rotate(-5deg);	}
	100% { transform: translateY(1vmin) rotate(0deg); }
}

@media only screen and (orientation: portrait) {
	.shake {
		font-size: calc(var(--size) * 1vh);
	}
}
