.container-rainbow {
  position: relative;
  overflow: hidden;
}
.container-rainbow::after {
  content: "";
  background: linear-gradient(to right, lightblue, hotpink);
  filter: grayscale(1);
  width: 560px;
  height: 315px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;border-radius: 10px;
  mix-blend-mode: multiply;
  pointer-events: none;
  transition-duration: 1s;
}
.container-rainbow:hover::after {
  filter: grayscale(0);
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.container-rainbow iframe {border-radius: 10px;}



/* /Eve */

#made-by-lamp {
  position: fixed;
  bottom: 0%;
  height: 6vh;
  width: 100%;  
}

.made-by-author {
  position: absolute;
  left: 0%;  
  top: 23%;
}

.made-by-twitter {
  position: absolute;
  right: 0%;  
  top: 23%;
}

div.code {
	width: 100%; padding: 1em auto;
}

div.code-toolbar {
	height: 2em;
	background: #222;
	border-radius: 10px 10px 0 0;
	line-height: 2;
	padding: 0 0.5em;
	text-align: right;color:white;
}

div.code pre {
	font: 1em Monaco, "Courier New", monospace;
	margin: 0 0 1em 0;
	line-height: 1.4;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: #eee;
	padding: 1em;
	border-radius: 0 0 10px 10px;
}