/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: 1rem;
}


/* Presentational styles */

body {
  background: #efefef;
  padding: 1rem;
  line-height: 1.4;
  font-family: Georgia, serif;
  font-size: 1.5rem;
}

li {
  padding: 5rem 1rem;
  text-align: center;
  background: hsl(338,81%,41%);
  color: #ffffff;
}