.stripe__label {
  font-size: 1.25em;
  text-transform: uppercase;
}

.stripe {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
}
.stripe__bar {
  width: 100%;
  max-width: 0;
  height: 0.375em;
  background-color: white;
  margin-bottom: 0.125em;
  transition: max-width 350ms;
}
.stripe__bar--label {
  height: 2em;
  transition-duration: 525ms;
  transition-timing-function: cubic-bezier(0, 0.3, 1, 1);
}
.stripe-wrap:hover .stripe__bar {
  max-width: 15%;
}
.stripe-wrap:hover .stripe__bar--sm {
  max-width: 10%;
}
.stripe-wrap:hover .stripe__bar--md {
  max-width: 25%;
  transition-duration: 525ms;
}
.stripe-wrap:hover .stripe__bar--lg {
  max-width: 50%;
  transition-duration: 700ms;
}
.stripe-wrap:hover .stripe__bar--label {
  max-width: 100%;
  transition-duration: 350ms;
  transition-timing-function: ease-out;
}
.stripe__label {
  display: inline-block;
  align-items: center;
  padding: 0.15em 0.4em 0 0.4em;
  height: 100%;
  background-color: white;
}

.tri-cta {
  width: 100%;
  background: white;
}
.tri-cta .stripe {
  margin-top: 1.875em;
}
.tri-cta__inner {
  display: flex;
  justify-content: space-between;
}
.tri-cta__intro {
  width: 25%;
  padding: 1.875em;
}
.tri-cta__link {
  overflow: hidden;
  display: block;
  position: relative;
  width: calc(25% - 0.9375em);
  margin: -1.875em 0;
  color: inherit;
  text-decoration: none;
}
.tri-cta__image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

[class*=__inner] {
  width: 1440px;
  margin: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #EEF2F6;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #89969F;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, ms h6 {
  font-family: "Michroma", sans-serif;
}

.main-torso {
  min-height: 100vh;
  display: flex;
  align-items: center;
}