.star {
  --size: 30vmin;
  --holes: calc(var(--size)*.495);
  width: var(--size);
  aspect-ratio: 1/1;
  position: fixed;
background: #0b0b3c;
background: -webkit-radial-gradient(circle, #0b0b3c 0%, #03030f 50%, #000000 100%);
background: radial-gradient(circle, #0b0b3c 0%, #03030f 50%, #000000 100%);
  --mask: radial-gradient(var(--holes) at var(--holes) var(--holes), #0000 99%,#000) calc(var(--holes)*-1) calc(var(--holes)*-1);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 40%;
  animation: sparkle 2s linear forwards ;
}
@keyframes sparkle {
  0% { transform: scale(0); }
  25% { opacity: 0.9; }
    50% { opacity: 0.7; }
    75% { opacity: 0.4; }
  100% { opacity: 0; }
}

.TwinkleTwinkleLittleStar {
background: #040419;
background: -webkit-linear-gradient(192deg, #040419 0%, #000002 50%, #000832 100%);
background: linear-gradient(192deg, #040419 0%, #000002 50%, #000832 100%);
  overflow: hidden;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width:100%;
}