@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
html, body {
  text-align: center;
  height: 100%;
}

body {
  /*background-color: #f9faff;*/
  /*background-image: url(https://i.imgur.com/LlVxfFq.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

*, div, span {
  box-sizing: border-box;
}

.social {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: inset 0 0 0 2px #dbe3ea;
  border-radius: 50px;
  color: #9aa9b5;
  background: #fff;
  overflow: hidden;
  margin: auto;
  transition: box-shadow 0.2s ease-out;
}
.social span, .social div {
  margin: auto;
}
.social .social-links {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(62, 130, 251, 0);
  width: 100%;
  height: 100%;
  padding: 0 30px;
  transition: all 0.25s ease;
}
.social .social-links a {
  margin: auto;
  background: #fff;
  color: #3e82fb;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 15px;
  transform: translate3d(0, 60px, 0);
  transition: all 0.2s;
}
.social .social-links a:hover {
  background: #89b3fd;
  color: #fff;
}
.social:hover {
  box-shadow: inset 0 0 0 2px #dbe3ea, 0 1rem 20px rgba(62, 130, 251, 0.2);
}
.social:hover .social-links {
  background: #3e82fb;
}
.social:hover .social-links > a {
  animation: elastic 0.5s ease-out forwards 0s;
}
.social:hover .social-links > a:nth-child(2) {
  animation-delay: 0.05s;
}
.social:hover .social-links > a:nth-child(3) {
  animation-delay: 0.1s;
}
.social:hover .social-links > a:nth-child(4) {
  animation-delay: 0.15s;
}
.social:hover .social-links > a:nth-child(5) {
  animation-delay: 0.2s;
}

@keyframes elastic {
  0% {
    transform: translate3d(0, 60px, 0);
  }
  40% {
    transform: translate3d(0, -5px, 0);
  }
  70% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}