h1.title Material Design Chat

.wrapper
  nav#nav.nav
    .default-nav
      .main-nav
        .toggle
        .main-nav-item
          a.main-nav-item-link(href="#") Blake
        .options
  .inner#inner
    .content#content
  .bottom#bottom
    textarea.input#input
    .send#send
    