@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 400 120% / 1.5 "Open Sans", sans-serif;
  transition: font-size 300ms;
}

.container {
  margin: 0 auto;
  max-width: 40em;
  padding: 3em;
}

::-moz-selection {
  background: #333 !important;
  color: #fff !important;
  text-shadow: none !important;
}

::selection {
  background: #333 !important;
  color: #fff !important;
  text-shadow: none !important;
}

@media (max-width: 50em) {
  body {
    font-size: 100%;
  }
}
@media (max-width: 30em) {
  body {
    font-size: 90%;
  }
  
  .container {
    padding: 1.5em;
  }
}
h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-bottom: 0.1em;
}

h2 {
  color: #333;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.125em;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.75em;
}

p {
  font-size: 0.9em;
  margin-bottom: 1.875em;
}

form {
  margin-bottom: 2.25em;
}

label {
  display: block;
  position: relative;
}

textarea,
input {
  border: 2px solid #ddd;
  border-radius: 0;
  color: #999;
  display: block;
  font: 400 1em/1 "Open Sans", sans-serif;
  margin: 0 0 0.5em;
  padding: 1em 1.25em;
  width: 100%;
  transition: border-color 300ms, color 300ms;
  -webkit-appearance: none;
}

textarea:focus,
input:focus {
  border-color: #333;
  color: #333;
  outline: none;
}

textarea {
  margin: 0;
  min-height: 7.5em;
  line-height: 1.5;
  overflow: auto;
  resize: vertical;
}

.arrow {
  border-top: 9px solid #ddd;
  border-right: 9px solid #ddd;
  border-bottom: 9px inset transparent;
  border-left: 9px inset transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transition: border-color 300ms;
}

input:focus + .arrow,
textarea:focus + .arrow {
  border-top-color: #333;
  border-right-color: #333;
}

@media (max-width: 30em) {
  textarea,
  input {
    font-size: 1.3em;
  }
}

.buttons {
  margin-bottom: 2.25em;
}

.button {
  background: #333;
  color: #fff;
  display: block;
  float: left;
  font-size: 1em;
  font-weight: 600;
  padding: 1.5em 1.125em;
  text-align: center;
  text-decoration: none;
  transition: background 300ms;
  width: 49%;
}

.button:last-child {
  float: right;
}

.button:hover,
.button:focus {
  background: #999;
  color: #fff;
}

@media (max-width: 30em) {
  .button,
  .button:last-child {
    border: none;
    float: none;
    margin-bottom: 0.75em;
    width: auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}