/* You code here */
a::after {
	content: ' (https://crofte.fr' attr(href)  ')';
	color: #777;
}

a[href^="http"]::after {
	content: ' (' attr(href)  ')';
}


/* Don't touch below */
body {
	width: 600px;
	margin: 2em auto;
	line-height: 1.6;
}

a {
	color: salmon;
}
