body {
  
}

#blog {
  width: 500px;
  height: 120%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #fff;

}

#blog h1 {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Open Sans';
}

form * {
  display: block;
}

label {
  padding: 10px 0;
  font-weight: 700;
}

input,
textarea {
  width: 480px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  height: 150px;
}

.preview {
  padding: 10px 40px;
  margin: 20px 0;
  border-radius: 5px;
  background: #0275d8;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.1px;
  cursor: pointer;
  outline: none;
}

.preview-header {
  margin-top: 80px;
}

.title {
  font-size: 18px;
}
.paragraph {
  line-height: 20px;
}


.red {
  color: darkred;
}














